{% extends "layout.html" %} 
{% block title %}Home Page{% endblock %} 
{% block content %}
<h1>This is Home Page</h1>
<p class="rounded-xl text-center bg-slate-500 shadow-2xl">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam
  reprehenderit iste? Error libero sint ratione quam veniam, a, praesentium
  consectetur blanditiis maiores eos modi doloribus sit aspernatur, impedit
  labore. Ipsam doloremque earum animi dolorum officiis ipsum quo, assumenda
  vero. Soluta at maiores adipisci voluptatem porro necessitatibus suscipit,
  quae, consectetur officiis iure veniam iste voluptatibus omnis voluptas. Ut,
  quae architecto!
</p>

{% endblock %}
